.loading {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    -webkit-animation: rotate 1s infinite linear;
    /* left, top and position just for the demo! */
    position: absolute;
    left: 50%;
    top: 20%;
  }
  @-webkit-keyframes rotate {
    /* 100% keyframe for  clockwise. 
       use 0% instead for anticlockwise */
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

/*-----------*/
.cursor-pointer{
    cursor: pointer;
}
/*--------*/
.navbar-brand a {
    text-decoration: none;
    color: white;
}
.navbar-nav a {
    text-decoration: none;
    color: #bfb7b7;
}
.footer-07 {
    background: #121212;
}
footer {
    padding: 2em 0;
}
.footer-07 .footer-heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer-07 .menu {
    margin-bottom: 30px;
}
.footer-07 p {
    color: rgba(255, 255, 255, 0.3);
}
.p-0 {
    padding: 0 !important;
}
.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}
.footer-07 .ftco-footer-social li a {
    background: transparent;
    border: 1px solid #a3de83;
    padding: 5px;
    color: cadetblue;
}
.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative;
}
.footer-07 .menu a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-07 a {
    color: #a3de83;
    text-decoration: none;
}
.ftco-footer-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*--------------*/
.breadcrumb{
    /* border: 2px solid orange; */
    padding: 15px;
    border-radius: 1px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    background-color: #e5e9e1;
}
.bg-header{
    background-color: #e5e9e1;
}

.invalid-feedback1 {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .775em;
    color: #f95a36;
}

/*
*------------
*/
.food-card {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.food-card:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.food-card .food-card_img {
    display: block;
    position: relative;
}
.food-card .food-card_img img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}
.food-card .food-card_img svg {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 25px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.food-card .food-card_img i:hover {
    top: 18px;
    right: 28px;
    font-size: 29px;
}
.food-card .food-card_content {
    padding: 15px;
}
.food-card .food-card_content .food-card_title-section {
    height: auto;
    overflow: hidden;
}
.food-card .food-card_content .food-card_title-section .food-card_title {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    display: block;
    line-height: 1.3;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
.food-card .food-card_content .food-card_title-section .food-card_author {
    font-size: 15px;
    display: block;
}
.food-card .food-card_content .food-card_bottom-section .space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.food-card .food-card_content .food-card_bottom-section .food-card_subscribers {
    margin-left: 17px;
}
.food-card .food-card_content .food-card_bottom-section .food-card_subscribers img,
.food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    border: 3px solid #fff;
    margin-left: -17px;
    float: left;
    background: #f5f5f5;
}
.food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count {
    position: relative;
}
.food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 13px;
}
.food-card .food-card_content .food-card_bottom-section .food-card_price {
    font-size: 24px;
    font-weight: 500;
    color: #F47A00;
}
.food-card .food-card_content .food-card_bottom-section .food-card_order-count {
    width: 130px;
}
.food-card .food-card_content .food-card_bottom-section .food-card_order-count input {
    background: #f5f5f5;
    border-color: #f5f5f5;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
}
.food-card .food-card_content .food-card_bottom-section .food-card_order-count button {
    border-color: #f5f5f5;
    border-width: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (min-width: 992px) {
    .food-card--vertical {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        height: 235px;
    }
    .food-card--vertical .food-card_img img {
        width: 200px;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}
.btn-outline-secondary:hover {
  color: #fff;
  /* background-color: #dce2e7; */
  border-color: #6c757d;
  background-color: #dce2e7 !important;
}
.card-shadowm {
  box-shadow: 0 2px 10px rgb(0 0 0 / 6%);
    transition: 0.1s;
}
.input-manulator{
    padding: 2px !important;
}
.pageTitlebg {
    background-color: #ab9880;
}

.reactheart {
    animation: animateHeart 1.2s infinite;
}
@keyframes animateHeart {
    0% {
      transform: scale(0.8);
    }
    5% {
      transform: scale(0.9);
    }
    10% {
      transform: scale(0.8);
    }
    15% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(0.8);
    }
  }

  .list-group-item{
    font-size: 14px;
  }

  .card-body a {
    text-decoration: none !important;
  } 

.cartText {
        font-size: 14px;
        background-color: #7a683d;
        padding: 1px 5px 1px 5px;
        border-radius: 10px;
    }

    .notification-top-bar {
        /* position: fixed; */
        top: 0;
        left: 0;
        height: 40px;
        line-height: 40px;
        width: 100%;
        background: #f76d6d;
        text-align: center;
        color: #FFFFFF;
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 18px;
        z-index: 10;
      }
      .notification-top-bar p {
        padding: 0;
        margin: 0;
      }
      .notification-top-bar p a {
        padding: 5px 10px;
        border-radius: 3px;
        background: #FFF;
        color: #f76d6d;
        font-weight: bold;
        text-decoration: none;
      }

      /*-------*/
      .LazyLoad {
        opacity: 0;
        transition: all 1s ease-in-out;
        background-color: #bfb7b7;
      }
      .is-visible {
        opacity: 1;
      }